form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-input input,
.form-input textarea {
  border: 1px solid #fc9c2c;
  padding: 0.25rem;
  border-radius: 3px;
}

.form-input label span {
  color: #fc9c2c;
}

.submit-btn {
  display: flex;
  justify-content: center;
}

button {
  width: 100px;
  height: 30px;
  border: 1px solid #fc9c2c;
  border-radius: 3px;
  background-color: #ffe6ca;
  color: #f98f17;
  font-weight: bold;
}
