main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-project {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 160px;
  padding: 16px;
  border-radius: 2%;
  background-color: #ffeec6;
  font-size: 0.75rem;
}

/* header */
.card-project__header {
  display: flex;
  justify-content: space-between;
}

.card-project__header-year {
  font-size: 0.75rem;
}

.card-project__header-star {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.card-project__header-star-img {
  width: 1rem;
  margin: 0;
}

.card-project__header-star-count {
  font-size: 0.75rem;
  fill: #fc9c2c;
}

/* main */
.card-project__main {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.card-project__main-name {
  font-weight: 500;
}

.card-project__main-link {
  margin-bottom: 0.75rem;
  color: #fc9c2c;
  text-decoration: none;
}

/* footer */
.card-project__footer {
  display: flex;
}

.card-project__footer img {
  width: 1.75rem;
}
