@import url("reset.css");

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

main {
  display: flex;
  justify-content: center;
}

.content-center {
  width: 80%;
}

.container {
  display: flex;
  gap: 50px;
}

main h1 {
  color: #b81e79;
  font-size: 64px;
  display: block;
}

.text-desc {
  width: 50%;
}

.text-desc p {
  font-size: 30px;
}

.text-desc p {
  margin-bottom: 20px;
}

.images {
  width: 50%;
}

.images img {
  margin-bottom: 20px;
  width: 80%;
  border-radius: 10px;
}
