@import url("reset.css");

@font-face {
  font-family: "Jakarta Sans";
  src: url("/fonts/plus-jakarta-sans/PlusJakartaSans-VariableFont_wght.ttf")
    format("ttf");
}

body {
  font-family: "Jakarta Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
