@import url("reset.css");

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

main {
  display: flex;
  justify-content: center;
}

main section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 80%;
}

main section img {
  border-radius: 5%;
}

.main-text {
  width: 60%;
}

.main-text h1 {
  font-size: 64px;
  font-weight: bold;
  color: #b81e79;
}

.main-text p {
  font-size: 30px;
  font-weight: 100;
}

main section img {
  width: 40%;
}
