@import url("reset.css");

@font-face {
  font-family: "Jakarta Sans";
  src: url("/fonts/plus-jakarta-sans/PlusJakartaSans-VariableFont_wght.ttf")
    format("ttf");
}

body {
  font-family: "Jakarta Sans", sans-serif;
}

main {
  display: flex;
  justify-content: center;
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

main h1 {
  font-size: 64px;
  color: #b81e79;
}

main .articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

main article {
  width: 450px;
  height: 274px;
  background-color: #f6abe1;
  border-radius: 5%;
  padding: 15px;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.github-star {
  display: flex;
}

h2 {
  color: #b81e79;
}

p {
  font-size: 24px;
}

.btn-source-code {
  display: flex;
  justify-content: center;
}

.portfolio-card a {
  align-items: center;
  font-size: 16px;
  background-color: #ff79c8;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
